{% extends 'layout.twig' %}

{% block title %}
Blog
{% endblock title %}

{% block content %}

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="post-preview">
                {# <h2 class="post-title">Commentaires en attente de validation</h2> #}
                <h1 class="post-subtitle">Vous avez {{number}} commentaire(s) en attente</h1>
                {% for comments in comments %}

                <p><b>Que souhaitez vous faire de ce commentaire ? : </b> <br> {{comments.message}} </p>
                <button type="button" class="btn btn-outline-success"><a
                        href="index.php?action=validationComment&amp;commentId={{ comments.id }}">Valider le
                        commentaire</a> </button>
                <button type="button" class="btn btn-outline-danger"><a
                        href="index.php?action=deleteComment&amp;commentId={{ comments.id }}">Supprimer le
                        commentaire</a> </button>
                <input type="hidden" name="commentId" value={{comments.id}}>
                <hr class="my-4" />
                {% endfor %}
            </div>
            <hr class="my-4" />
        </div>
    </div>
</div>
{% endblock content %}