{% extends 'layout.twig' %}

{% block title %}
Blog
{% endblock title %}

{% block content %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="post-preview">
                <h1 class="post-title">{{ post.title }}</h1>
                <p class="post-subtitle post-content">{{ post.message }}</p>
                <p class="post-meta">
                    Posté par
                    <b href="#!">{{ post.username }}</b>
                    le
                    <b>{{ post.created_at }}</b>
                </p>
            </div>
            <hr class="my-4" />
        </div>

        <div>
            <span class="comment">{{'Commentaires'}}</span>
            {% for currentComment in comments %}
            <p>{{comments.message}}</p>
            <div>
                <p class="post-meta">
                <p>{{ currentComment.message }}</p>
                Le
                <b>{{ currentComment.created_at }}</b>
                par
                <b>{{ currentComment.username}}</b>
                </p>
                {% if session.logged_user_email is defined and session.is_admin == 1 %}
                <p>
                    <button type="button" class="btn btn-outline-danger">
                        <a href="index.php?action=deleteComment&amp;commentId={{ currentComment.id }}">Supprimer le
                            commentaire</a>
                    </button>
                </p>
                {% endif %}
            </div>
            <hr class="my-4" />
            {% endfor %}
            <hr class="my-4" />
        </div>
        {% if session.logged_user_email is defined and session.is_validated == 1 %}
        <button type="button" class="btn btn-secondary mb-2"><a
                href="index.php?action=displayCommentForm&amp;id={{ post.id }}">Ajouter un commentaire</a> </button>
        {% endif %}
        <div>
            {% if session.logged_user_email is defined and session.is_admin == 1 %}
            <div class="d-flex flex-row">
                <div>
                    <button type="button" class="btn btn-outline-warning btn-sm"><a
                            href="index.php?action=displayUpdatePost&amp;postId={{ post.id }}">Modifier la
                            publication</a>
                    </button>
                </div>
                <div>
                    <button type="button" class="btn btn-outline-danger btn-sm"><a
                            href="index.php?action=deletePost&amp;postId={{ post.id }}">Supprimer la
                            publication</a> </button>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}