{% extends 'layout.twig' %}

{% block title %}
Blog
{% endblock title %}

{% block content %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5">
        <div class="add-post">
            {% if session.logged_user_email is defined and session.is_admin == 1 %}
            <button type="button" class="btn btn-outline-primary btn-sm"><a
                    href="index.php?action=displayFormPost">Ajouter une
                    publication</a> </button>
            {% endif %}
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 offset-12">
            {% if errorMessage %}
            <div class="alert alert-danger">{{errorMessage}}</div>
            {% endif %}
            {% if validMessage %}
            <div class="alert alert-danger">{{validMessage}}</div>
            {% endif %}
            {% for currentPost in posts %}
            <div class="post-preview">
                <a href="index.php?action=post&amp;id={{ currentPost.id }}">
                    <div class="post-title">{{ currentPost.title }}</div>
                    <p>{{ currentPost.message }}</p>
                    <p class="post-meta">Rédigé par {{currentPost.username}} le {{currentPost.updated_at}}</p>
                </a>
            </div>
            <hr class="my-4" />
            {% endfor %}
            <hr class="my-4" />
        </div>
    </div>
</div>
{% endblock content %}